@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-weight: 400;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5rem;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

.table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

.footer {
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  position: relative;
  z-index: 1;
  background: url(/project_surf/img/surfers.jpeg) center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 40.625rem;
  color: #fff;
}
.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
  background-color: #1968b1;
}

.hero__title-section {
  margin-top: 1.125rem;
  width: 60%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.125rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section {
    padding: 0 2rem;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-top: 1.3125rem;
  padding-bottom: 3.9375rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    padding: 0;
  }
}

.hero__main-title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.125rem;
  padding-right: 4.375rem;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    text-align: center;
    padding-right: 0;
    font-size: 3rem;
    margin-bottom: 0.5625rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    text-align: center;
    padding-right: 0;
    font-size: 2.5rem;
    margin-bottom: 0.5625rem;
    line-height: 0.9;
  }
}

.hero__title-desc {
  font-size: 1.3125rem;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    font-size: 1.125rem;
  }
}

.hero__btn {
  margin-top: 3.625rem;
}
@media screen and (max-width: 768px) {
  .hero__btn {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header {
    height: 5.6875rem;
    background: #1968b1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.875rem;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding: 0 0.625rem;
  }
}

.phone-number {
  white-space: nowrap;
  font-size: 1.375rem;
  text-decoration: none;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.375rem;
}

@media screen and (max-width: 768px) {
  .header__phone-number {
    display: none;
  }
}

.logo-icon {
  fill: #fff;
  width: 3.5rem;
  height: 2.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-icon {
  fill: #fff;
  width: 0.8125rem;
  height: 0.875rem;
  margin-right: 0.3125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.hamburger {
  width: 1.625rem;
  height: 1.5rem;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline;
  }
}

.hamburger-icon {
  width: 1.5rem;
  height: 1.625rem;
  fill: #fff;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 1.875rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-icon {
  fill: #fff;
  width: 2.5625rem;
  height: 2.5625rem;
  margin-right: 0.6875rem;
}

.feature__text {
  font-size: 1rem;
  font-weight: 700;
  max-width: 5.625rem;
}

.btn {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2.1875rem;
  padding: 1.25rem 2.5625rem;
  border: none;
}
@media screen and (max-width: 480px) {
  .btn {
    font-size: 1.1875rem;
    padding: 1.125rem rem 36px;
  }
}
.btn--theme--yellow {
  background: #fedb3f;
  color: #000;
}
.btn--theme--yellow:hover {
  background: #ffd517;
}
@media screen and (max-width: 480px) {
  .btn--theme--yellow {
    font-size: 1rem;
    padding: 1.125rem 2.5rem;
  }
}
.btn--theme--clear {
  background: none;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
  padding-left: 1.1875rem;
}
@media screen and (max-width: 768px) {
  .btn--theme--clear {
    padding-left: 2.125rem;
  }
}
.btn--theme--clear:hover {
  color: #fedb3f;
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3.0625rem;
  text-align: center;
  color: #292929;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.5rem;
  }
}

.headline__title {
  margin-bottom: 1.125rem;
  color: #292929;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 2.5rem;
    margin-bottom: 0.1875rem;
  }
}

.headline__desc {
  text-align: center;
  padding: 0 30%;
  margin-bottom: 3.125rem;
  font-size: 1.125rem;
}
@media screen and (max-width: 768px) {
  .headline__desc {
    padding: 0 22%;
  }
}
@media screen and (max-width: 480px) {
  .headline__desc {
    padding: 0 5%;
    margin-bottom: 3.375rem;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0.5rem;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .benefits__item {
    padding: 0 1%;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.benefits__item:before {
  content: url("/project_surf/img/dots.png");
  position: absolute;
  top: 3.625rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
.benefit .benefit__img-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.875rem;
}
@media screen and (max-width: 480px) {
  .benefit .benefit__img-wrapper {
    margin-bottom: 1.6875rem;
  }
}
.benefit .benefit-icon {
  fill: #000;
  width: 4.25rem;
  height: 4.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 480px) {
  .benefit .benefit__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    padding-left: 0.75rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
  }
}
.benefit .benefit__text-title {
  font-size: 1.6875rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .benefit .benefit__text-title {
    margin-bottom: 0.625rem;
  }
}
.benefit .benefit__text-desc {
  font-size: 1.125rem;
}

.feedbacks__title {
  margin-bottom: 2rem;
}
@media screen and (max-width: 480px) {
  .feedbacks__title {
    margin-bottom: 1.25rem;
  }
}

.feedbacks__display {
  background: #f8faf9;
  padding: 2.625rem 8.875rem 2.625rem 2.625rem;
}
@media screen and (max-width: 768px) {
  .feedbacks__display {
    padding: 3.5rem 1.5rem 1.375rem;
    margin: 0 3%;
  }
}
@media screen and (max-width: 480px) {
  .feedbacks__display {
    margin: 0 2%;
    padding-bottom: 2rem;
  }
}

.feedbacks__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .feedbacks__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feedback__avatar {
  width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .feedback__avatar {
    width: 8.125rem;
    height: 8.125rem;
  }
}

.feedback__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.feedback__content {
  padding-top: 1.6875rem;
  padding-right: 1.0625rem;
  padding-bottom: 1.6875rem;
  padding-left: 2.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 768px) {
  .feedback__content {
    text-align: center;
    padding: 2rem 0.25rem 0;
  }
}
@media screen and (max-width: 480px) {
  .feedback__content {
    padding: 1.625rem 0.125rem 0;
  }
}

.feedback__title {
  font-size: 1.6875rem;
  font-weight: 700;
  color: #292929;
  margin-bottom: 0.9375rem;
}
@media screen and (max-width: 480px) {
  .feedback__title {
    padding: 0 20%;
    margin-bottom: 0.75rem;
  }
}

.feedback__author {
  color: #292929;
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 1.6875rem;
}
@media screen and (max-width: 768px) {
  .feedback__author {
    margin-top: 1.25rem;
  }
}
@media screen and (max-width: 480px) {
  .feedback__author {
    margin-top: 0.875rem;
  }
}

.feedback__text {
  font-size: 1.125rem;
}

.interactive-avatar {
  position: relative;
  width: 4.625rem;
  height: 4.625rem;
  border-radius: 50%;
  overflow: hidden;
}
.interactive-avatar--active {
  border: 0.375rem solid #fedb3f;
}
@media screen and (max-width: 480px) {
  .interactive-avatar {
    width: 4rem;
    height: 4rem;
  }
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feedbacks__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .feedbacks__switcher {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .feedbacks__switcher {
    margin-top: 1.875rem;
  }
}

.feedback__switcher-item {
  margin-right: 0.375rem;
}
@media screen and (max-width: 480px) {
  .feedback__switcher-item {
    margin-right: 0.625rem;
  }
}
.feedback__switcher-item:last-child {
  margin-right: 0;
}

.order-section {
  position: relative;
  z-index: 1;
  background: url(/project_surf/img/order-bg.jpeg) center no-repeat;
  background-size: cover;
}
.order-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  background-color: #2b2b2b;
}

.order-title,
.form__title,
.radio__title {
  color: #fff;
}

.order-title {
  margin-bottom: 3.75rem;
}
@media screen and (max-width: 768px) {
  .order-title {
    margin-bottom: 2rem;
  }
}

.form__title {
  padding-left: 0.625rem;
  font-size: 1.125rem;
}
@media screen and (max-width: 768px) {
  .form__title {
    padding-left: 0.0625rem;
    margin-bottom: 1rem;
  }
}

.radio__title {
  padding-left: 0.625rem;
  font-size: 1.125rem;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .radio__title {
    padding-left: 0.6875rem;
    padding-top: 0.125rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0 0.625rem;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.625rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6875rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 1.0625rem;
  }
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1rem;
}
.form__block:last-child {
  margin-right: 0;
}

.comment-block {
  margin-bottom: 1.375rem;
}
@media screen and (max-width: 768px) {
  .comment-block {
    margin-bottom: 0;
  }
}

.form__input {
  font-size: 0.875rem;
  width: 100%;
  border: 0.25rem solid transparent;
  border-radius: 0.1875rem;
  padding: 1rem 0.75rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.3125rem;
  }
}
.form__input:focus {
  border-color: #fedb3f;
  outline: none;
}
.form__input--textarea {
  height: 9.5rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.125rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0.5625rem;
  margin-bottom: 1.1875rem;
}
@media screen and (max-width: 768px) {
  .form__controls {
    padding-left: 0;
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .form__controls {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0.1875rem 3.125rem;
    margin-bottom: 1.0625rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btns {
  margin-top: 2.875rem;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2.4375rem;
    margin-left: 2.3125rem;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1.5625rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-right: 1.1875rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
}
.radio--checkbox .radio__visible:before {
  background: url(/project_surf/img/checkmark.png) center no-repeat;
  border-radius: 0;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  border-radius: 50%;
  background: #FFFFFF;
}
.radio__visible:before {
  display: none;
  content: "";
  width: 0.8125rem;
  height: 0.8125rem;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  right: 4.8%;
  top: 39%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu {
  margin: 0 1.875rem;
  padding-top: 0.5rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.375rem;
  padding-bottom: 0.625rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 700;
  white-space: nowrap;
}