.benefit {
  text-align: center;


.benefit__img-wrapper {
  display: inline-block;
  width: rem(128px);
  height: rem(128px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: rem(14px);
  @include phones {
    margin-bottom: rem(27px);
  }
}

.benefit-icon {
  fill: #000;
  width: rem(68px);
  height: rem(68px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.benefit__text {
  @include phones {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: rem(12px);
  padding-top: rem(8px);
  padding-right: rem(16px);
  }
}
.benefit__text-title {
  font-size: rem(27px);
  font-weight: 700;
  margin-bottom: rem(20px);
  color: $black;
  @include tablets {
    margin-bottom: rem(10px);
  }
}
.benefit__text-desc {
  font-size: rem(18px);
}
}