.feedbacks__title {
  margin-bottom: rem(32px);
  @include phones {
    margin-bottom: rem(20px);
  }
}
.feedbacks__display {
  background: #f8faf9;
  padding: rem(42px) rem(142px) rem(42px) rem(42px);
  @include tablets {
    padding: rem(56px) rem(24px) rem(22px);
    margin: 0 3%;
  }
  @include phones {
    margin: 0 2%;
    padding-bottom: rem(32px);
  }
}
.feedbacks__display-inner {
  display: flex;
  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}
.feedback__avatar {
  width: rem(253px);
  height: rem(264px);
  @include tablets {
    width: rem(130px);
    height: rem(130px);
  }
}
.feedback__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.feedback__content {
  padding-top: rem(27px);
  padding-right: rem(17px);
  padding-bottom: rem(27px);
  padding-left: rem(36px);
  flex: 1;
  @include tablets {
    text-align: center;
    padding: rem(32px) rem(4px) 0;
  }
  @include phones {
    padding: rem(26px) rem(2px) 0;
  }
}
.feedback__title {
  font-size: rem(27px);
  font-weight: 700;
  color: $black;
  margin-bottom: rem(15px);
  @include phones {
    padding: 0 20%;
    margin-bottom: rem(12px);
  }
}
.feedback__author {
  color: $black;
  font-size: rem(18px);
  font-weight: 500;
  margin-top: rem(27px);
  @include tablets {
    margin-top: rem(20px);
  }
  @include phones {
    margin-top: rem(14px);
  }
}
.feedback__text {
  font-size: rem(18px);
}
