.form {
  display: flex;
  @include tablets {
    flex-direction: column;
    padding: 0 19%;
  }
  @include phones {
    padding: 0 rem(10px);
  }
}

.form__col {
  flex: 1;
  margin-right: rem(26px);
  @include tablets {
    margin-right: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(11px);
  @include tablets {
    margin-bottom: rem(17px);
  }
}

.form__block {
  flex: 1;
  margin-right: rem(16px);

  &:last-child {
    margin-right: 0;
  }
}

.comment-block {
  margin-bottom: rem(22px);
  @include tablets {
    margin-bottom: 0;
  }
}

.form__input {
  font-size: rem(14px);
  width: 100%;
  border: rem(4px) solid transparent;
  border-radius: rem(3px);
  padding: rem(16px) rem(12px);
  @include tablets {
    padding: rem(5px);
  }
  &:focus {
    border-color: #fedb3f;
    outline: none;
  }
  &--textarea {
    height: rem(152px);
    resize: none;
    @include tablets {
      height: rem(82px);
    }
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  padding-left: rem(9px);
  margin-bottom: rem(19px);
  @include tablets {
    padding-left: 0;
    margin-bottom: rem(24px);
  }
  @include phones {
    flex-wrap: nowrap;
    padding: rem(3px) rem(50px);
    margin-bottom: rem(17px);
    justify-content: center;
  }
}

.form__btns {
  margin-top: rem(46px);
  @include tablets {
    display: flex;
    justify-content: center;
    margin-top: rem(39px);
    margin-left: rem(37px);
  }
}
