.headline__title {
  margin-bottom: rem(18px);
  color: $black;
  text-transform: uppercase;
  @include phones {
    font-size: rem(40px);
    margin-bottom: rem(3px);
  }
}
.headline__desc {
  text-align: center;
  padding: 0 30%;
  margin-bottom: rem(50px);
  font-size: rem(18px);
  @include tablets {
    padding: 0 22%;
  }
  @include phones {
    padding: 0 5%;
    margin-bottom: rem(54px);
  }
}
