.interactive-avatar {
  position: relative;
  width: rem(74px);
  height: rem(74px);
  border-radius: 50%;
  overflow: hidden;
  &--active {
    border: rem(6px) solid #fedb3f;
  }
  @include phones {
    width: rem(64px);
    height: rem(64px);
  }
}
.interactive-avatar__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
