.feedbacks__switcher {
  display: flex;
  justify-content: center;
  margin-top: rem(15px);
  @include tablets {
    margin-top: rem(32px);
  }
  @include phones {
    margin-top: rem(30px);
  }
}

.feedback__switcher-item {
  margin-right: rem(6px);
  @include phones {
    margin-right: rem(10px);
  }

  &:last-child {
    margin-right: 0;
  }
}
